#include <windows.h>

#include "resource.h"
#include "main.h"

1 VERSIONINFO
FILEVERSION 1,1,0,2003
PRODUCTVERSION 1,1,0,2003
FILEOS 0x4
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
		VALUE "Comments", "Chameleon CD Player\0"
		VALUE "CompanyName", "Free code\0"
		VALUE "FileDescription", "CD Player with skin support\0"
		VALUE "FileVersion", "1. 1. 0. 2003\0"
		VALUE "InternalName", "Chameleon\0"
		VALUE "LegalCopyright", "Free code\0"
		VALUE "OriginalFilename", "Chameleo.exe\0"
		VALUE "PrivateBuild", ""
		VALUE "ProductName", "Chameleon CD Player\0"
		VALUE "ProductVersion", "1, 1, 0, 2003\0"
	}
}
}


PLAYLIST_EDIT_DIALOG DIALOG DISCARDABLE  97, 36, 189, 225
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Edit playlist"
FONT 8, "Helv"
BEGIN
	CONTROL "",                IDE_ARTISTNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 2, 131, 12
	CONTROL "",                IDE_ALBUMNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 29, 15, 131, 12
	CONTROL "",                IDL_SONGLIST, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 14, 46, 128, 137
	CONTROL "",                IDE_SONGMANE, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 185, 127, 12
	CONTROL "Set name",        IDB_SETNAME, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 184, 34, 15
	CONTROL "Save",            IDB_SAVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 29, 206, 31, 14
	CONTROL "Cancel",          IDCANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 206, 29, 14
	CONTROL "Add to playlist", IDB_ADD_TO_PLAYLIST, "BUTTON", BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 144, 71, 35, 31
	CONTROL "Artist:",         ID1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 4, 20, 10
	CONTROL "Title:",          ID2, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 7, 17, 19, 9
	CONTROL "Song list",       ID3, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 6, 34, 180, 147
END

PLAYLIST_ADD_DIALOG DIALOG DISCARDABLE  333, 46, 145, 167
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Add song to playlist"
FONT 8, "Helv"
BEGIN
	CONTROL "",        IDL_ADD_BOX, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 3, 139, 137
	CONTROL "Add",     IDB_ADD_SONG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 13, 146, 30, 15
	CONTROL "Close",   IDB_CLOSE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 146, 30, 15
	CONTROL "Add all", IDB_ADD_ALL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 146, 30, 15
END

PLAYLIST_DIALOG DIALOG DISCARDABLE  321, 101, 112, 94
STYLE WS_POPUP
FONT 8, "Helv"
BEGIN
END

OPTIONS_DIALOG DIALOGEX DISCARDABLE  149, 12, 242, 244
STYLE DS_SYSMODAL | DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | WS_THICKFRAME
CAPTION "Options"
EXSTYLE WS_EX_TOPMOST
FONT 8, "Helv"
BEGIN
	CONTROL "OK",                   IDB_OPT_OK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 226, 35, 15
	CONTROL "Stop on exit",         ID_STOPONEXIT, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 10, 53, 10
	CONTROL "Exit on remove",       ID_EXITONREMOVE, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 22, 61, 10
	CONTROL "Play on start",        ID_PLAYONSTART, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 33, 55, 10
	CONTROL "Repeat playlist",      ID_REPEATPLAYLIST, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 46, 59, 10
	CONTROL "Time elapsed",         ID_ELAPSED, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 59, 57, 10
	CONTROL "Intro play",           ID_INTROPLAY, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 87, 45, 10
	CONTROL "",                     ID_INTROLEN, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 56, 86, 27, 59
	CONTROL "Random start",         ID_INTRORANDOM, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 100, 61, 12
	CONTROL "Allways on top",       ID_ONTOP, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 9, 134, 58, 10
	CONTROL "Display tooltips",     ID_TOOLTIP, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 147, 65, 12
	CONTROL "Key shorcuts",         ID_KEYSHORTCUTS, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 161, 61, 12
	CONTROL "Snap windows:",        ID_SNAP, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 9, 177, 63, 10
	CONTROL "",                     ID_SNAPPIXEL, "EDIT", ES_LEFT | ES_AUTOHSCROLL | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 71, 175, 18, 12
	CONTROL "",                     ID_SKIN, "LISTBOX", LBS_NOTIFY | LBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 115, 13, 120, 112
	CONTROL "",                     ID_SKININFO, "LISTBOX", LBS_HASSTRINGS | LBS_NOSEL | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 116, 129, 118, 85
	CONTROL "sec.",                 STAT_SEC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 85, 88, 15, 10
	CONTROL "px",                   IDB_SETNAME, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 91, 178, 11, 8
	CONTROL "Skin",                 ID4, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 109, 1, 129, 217
	CONTROL "Playback",             ID5, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 3, 1, 101, 72
	CONTROL "Intro",                ID6, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 4, 76, 100, 41
	CONTROL "General",              IDC_CHANGE, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 3, 122, 101, 68
	CONTROL "",                     ID_DRIVE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 203, 27, 39
	CONTROL "Multiple CDROM drives", ID06, "BUTTON", BS_GROUPBOX | BS_LEFT | WS_CHILD | WS_VISIBLE, 3, 193, 99, 28
	CONTROL "Autoswitch",           ID_AUTOSWITCH, "BUTTON", BS_AUTOCHECKBOX | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 45, 206, 47, 10
END

ABOUT_DIALOG DIALOG DISCARDABLE  81, 59, 186, 161
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "About"
FONT 8, "Helv"
BEGIN
END





LARGE_ICON ICON "large.ico"
SMALL_ICON ICON "small.ico"

MAIN BITMAP "main.bmp"
TITLEBAR BITMAP "titlebar.bmp"
BUTTONS BITMAP "cbuttons.bmp"
SYSBUTTONS BITMAP "sysbutn.bmp"
SCROLLBARTHUMB BITMAP "scroll.bmp"
BITMAPFONT1 BITMAP "fontwhite.bmp"
BITMAPFONT2 BITMAP "industr1.bmp"
PLEDIT BITMAP "playlist.bmp"

PATTERN1 BITMAP "pattern1.bmp"
PATTERN2 BITMAP "pattern2.bmp"
PATTERN3 BITMAP "pattern3.bmp"
PATTERN4 BITMAP "pattern4.bmp"
PATTERN5 BITMAP "pattern5.bmp"
PATTERN6 BITMAP "pattern6.bmp"


STRINGTABLE
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
     T_PREV,		"Previous Track"
    T_PLAY,		"Play"
    T_PAUSE,	"Pause"
    T_STOP,		"Stop"
    T_NEXT,		"Next Track"
    T_EJECT,	"Eject"
    T_PLAYLIST,	"Show playlist"
    T_OPTIONS,	"Show options"
    T_POS,		"Seeking Bar"
    T_LVOLUME,	"Left channel volume"
    T_RVOLUME,	"Right channel volume"
    T_MASTER,	"Master volume"
    T_MUTE,		"Mute volume"
    T_LOCK,		"Lock left and right channel"
    T_CLOSE,	"Close"
    T_MINIMIZE,	"Minimize"
    T_PLAYTIME,	"Time Display (click to toggle elapsed/remaining)"

    IDM_ABOUT,	"About"
    IDM_SHOWPLAYLIST,	"Show playlist"
    IDM_OPTIONS	,	"Options"
    IDM_ALWAYSONTOP,	"Always on top"
    IDM_SHOWTOOLTIP,	"Display tooltips"
    IDM_SNAPWINDOWS,	"Snap windows"
    IDM_KEYSHORTCUTS,	"Key shortcuts"
    IDM_ELAPSEDTIME,	"Time elapsed"
    IDM_PLAYONSTART,	"Play on start"
    IDM_EXITONREMOVE,	"Exit on remove"
    IDM_STOPONEXIT,	"Stop on exit"
    IDM_REPEAT,	"Repeat"
    IDM_INTROPLAY,	"Intro play"
    IDM_RANDOMSTART,	"Random start"
    IDM_INTROOPTIONS,	"Intro options"
    IDM_EXIT,	"Exit"
    TEXTMAP1, 	"06 AMNWXYmw\r\n06 4 #*+@^_\r\n05 BCDGHJKOP\r\n05 QRSUVZabc\r\n05 deéèghkno\r\n05 pqrsuvxy\r\n05 z02356789\r\n05 ""$%&<=>?\r\n04 EFLTft/\\{}ïI\r\n03 j1'(),-.:;[]`\r\n02 il!|"
	TEXTMAP2,	"08 Wmw%@\r\n07 \r\n06 M""#&<>4\r\n05 ABCDGHJKNOPQRSTUVXYZŠ\r\n05 abcdeghknopqsuvxyz\r\n05 $/?*+\\_~23567890÷×ß\r\n04 EFLfjlrt()=-[]{},'1|¤ \r\n03 Ii!.:;"
    DRIVEINUSE,	"CD drive is in use"
    NOTLOADED,	"No disc loaded"
    NOAUDIOTRACKS, "Data disc"
    UNKNOWNARTIST,	"Unknown Artist"
    UNKNOWNALBUM,	"Unknown Album"

}
